<div class="card-box genis-bg-color">
  <h2 class="header-title mt-0 mb-0 text-white">PV</h2>

  <div class="table-responsive">
    <table class="table table-borderless table-widget text-white mb-0">
      <thead>
        <tr>
          <th></th>
          <th class="pl-3">IN</th>
          <th>OUT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">voltage</th>
          <td class="pl-3">483</td>
          <td>754</td>
        </tr>
        <tr>
          <th scope="row">current</th>
          <td class="pl-3">5.1</td>
          <td>1.8</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- </div> -->
</div>
