<div class="card-box card-box-type4">
  <span class="genis-card-top-title"><%= data %></span>
  <form class="time-form">
    <input
      type="datetime-local"
      class="datetimepicker"
      id="time-before"
      value="2021-04-07T14:00:00"
      step="2"
    />  - 
    <input
      type="datetime-local"
      class="datetimepicker"
      id="time-after"
      value="2021-04-07T14:00:00"
      step="2"
    />
    <input type="submit" class="time-serach" value="검색" />
  </form>
</div>
