<div class="card-box card-box-type1">
  <% include ./modal/modal %>

  <!-- <div class="widget-chart"> -->
  <div class="row">
    <div class="col-md-4 pl-0">
      <h2 class="genis-card-title mb-3">PCS</h2>
      <div class="widget-detail text-left">
        <p class="genis-widget-title mb-0">operation Mode</p>
        <h3 class="genis-widget-value mt-0 mb-1">RUN</h3>
        <!-- <div class="spinner-grow text-success m-2" role="status"></div> -->
        <p class="genis-widget-title mt-0 mb-0">charging Mode</p>
        <h3 class="genis-widget-value mt-0 mb-0">DISCHARGING</h3>
      </div>
    </div>
    <div class="col-md-8 mt-1 pr-0">
      <div class="row">
        <div class="col-md-6">
          <div class="genis-widget-circle mr-2">
            <div class="circle-txt-value">725.2</div>
            <div class="circle-txt-title">voltage</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="genis-widget-circle mr-2">
            <div class="circle-txt-value">50</div>
            <div class="circle-txt-title">current</div>
          </div>
        </div>
        <div class="col-md-12 mt-1 pr-0">
          <div class="row">
            <div class="col-md-10">
              <h3 class="genis-widget-value mt-0 mb-0">SOC</h3>
              <div class="progress progress-bar-genis progress-sm mt-0">
                <div
                  class="progress-bar genis-bg-purple"
                  role="progressbar"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 80%"
                ></div>
              </div>
            </div>
            <div class="col-md-2 pl-0 pr-1">
              <p class="soc-text">80%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
