<div class="card-box genis-bg-color">
  <h2 class="header-title mt-0 mb-2 text-white">EV Charger #1</h2>

  <!-- <div class="widget-chart"> -->
  <div class="row">
    <div class="col-md-4">
      <div class="widget-detail text-left">
        <p class="genis-widget-title mb-1">status</p>
        <h3 class="genis-widget-value mt-0 mb-2"><div class="spinner-grow text-success mr-1" role="status"></div>WAIT </h3>

      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <div class="genis-widget-circle w-100 mr-2">
            <div class="circle-txt-title">50</div>
            <div class="circle-txt-value">current</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="genis-widget-circle w-100 mr-2">
            <div class="circle-txt-title">725.2</div>
            <div class="circle-txt-value">voltage</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="genis-widget-circle w-100 mr-2">
            <div class="circle-txt-title">725.2</div>
            <div class="circle-txt-value">voltage</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
