<div class="card-box card-box-type1">
  <% include ./modal/modal %>
  <h2 class="genis-card-title mb-3">EV CHARGER #1</h2>

  <!-- <div class="widget-chart"> -->
  <div class="row">
    <div class="col-md-3">
      <div class="widget-detail text-left">
        <p class="genis-widget-title mb-0">status</p>
        <h3 class="genis-widget-value mt-0">WAIT </h3>

      </div>
    </div>
    <div class="col-md-9 mb-1">
      <div class="row">
        <div class="col-md-4">
          <div class="genis-widget-circle w-91px mr-2">
            <div class="circle-txt-value">12 kW</div>
            <!-- <div class="circle-txt-title">quantity</div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="genis-widget-circle w-91px mr-2">
            <div class="circle-txt-value">230 V</div>
            <!-- <div class="circle-txt-title">voltage</div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="genis-widget-circle w-91px mr-2">
            <div class="circle-txt-value">22 A</div>
            <!-- <div class="circle-txt-title">current</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
