<div class="card-box">
  <% include ./modal/modal %>

  <h4 class="genis-card-title mb-2">TEMP SENSOR</h4>
  <div class="row">
    <div class="col-md-2 default-txt-title">#1</div>
    <div class="col-md-5">
      <div class="genis-widget-circle-small">
        <div class="circle-txt-value-small">50</div>
        <div class="circle-txt-title-small">temp</div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="genis-widget-circle-small genis-bg-purple">
        <div class="circle-txt-value-small text-white">50</div>
        <div class="circle-txt-title-small text-white">humid</div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2 default-txt-title">#2</div>
    <div class="col-md-5">
      <div class="genis-widget-circle-small">
        <div class="circle-txt-value-small">50</div>
        <div class="circle-txt-title-small">temp</div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="genis-widget-circle-small genis-bg-purple">
        <div class="circle-txt-value-small text-white">50</div>
        <div class="circle-txt-title-small text-white">humid</div>
      </div>
    </div>
  </div>
  <hr class="hr-widget" />
  <% include ./modal/modal %>
  <h4 class="genis-card-title mb-2">GAS</h4>
  operationMode<span class="genis-widget-value float-right genis-text-color">RUN</span>
  <hr class="hr-widget" />
  <% include ./modal/modal %>
  <h4 class="genis-card-title mb-2">IMD</h4>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="genis-widget-circle-small">
        <div class="circle-txt-value-small">34</div>
        <div class="circle-txt-title-small">resistance</div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="genis-widget-circle-small">
        <div class="circle-txt-value-small">12</div>
        <div class="circle-txt-title-small">capacitance</div>
      </div>
    </div>
  </div>
  <hr class="hr-widget" />
  <% include ./modal/modal %>
  <h4 class="genis-card-title mb-2">UPS</h4>
  <div class="row">
    <div class="col-md-10">
      <h3 class="genis-widget-value mt-0 mb-0">SOC</h3>
      <div class="progress progress-bar-genis progress-sm mt-0">
        <div
          class="progress-bar genis-bg-purple"
          role="progressbar"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 50%"
        ></div>
      </div>
    </div>
    <div class="col-md-2 pl-0 pr-1">
      <p class="soc-text">50%</p>
    </div>
  </div>
  
</div>
