<div class="card-box card-box-type2">
  <% include ./modal/modal %>
  <h2 class="genis-card-title mb-4">PV</h2>

  <div class="table-responsive">
    <table class="table table-borderless table-widget genis-text-gray">
      <!-- <thead>
        <tr>
          <th></th>
          <th class="font-weight-normal">입력</th>
          <th class="font-weight-normal">출력</th>
        </tr>
      </thead> -->
      <tbody>
        <tr>
          <th class="font-weight-normal" scope="row">입력</th>
          <td class="pl-3 genis-text-color">483 V</td>
          <td class="genis-text-color">5.1 A</td>
        </tr>
        <tr>
          <th class="font-weight-normal" scope="row">출력</th>
          <td class="pl-3 genis-text-color">754 V</td>
          <td class="genis-text-color">1.8 A</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- </div> -->
</div>
