<div class="card-box genis-bg-color">
  <h2 class="header-title mt-0 mb-2 text-white">ESS</h2>

  <div class="widget-detail text-left">
    <p class="genis-widget-title mb-1">controlMode</p>
    <h3 class="genis-widget-value mt-0 mb-2">
      <div class="spinner-grow text-success mr-1" role="status"></div>
      standby
    </h3>
  </div>
  SOC
  <div class="progress progress-bar-alt-primary mt-0">
    <div
      class="progress-bar bg-primary"
      role="progressbar"
      aria-valuenow="77"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 60%"
    >80%
      <span class="sr-only">77% Complete</span>
    </div>
  </div>

  <!-- </div> -->
</div>
