<!DOCTYPE html>
<html lang="en">
  <% include ./head-meta %>
  <body data-layout="horizontal" data-topbar="dark">
    <!-- Begin page -->
    <div id="wrapper">
      <% include ./headers %>
      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->

      <div class="content-page content-bg-color pt-5">
        <div class="content">
          <!-- Start Content-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12"><%- include("widgets/widget-top-range", {data:'Chart'}) %></div>
              <div class="col-md-9">
                <div class="card-box card-box-type0">
                  <h4 class="genis-card-title">Temp1</h4>
                  <div class="chartjs-chart">
                    <canvas id="lineChart-1" height="239"></canvas>
                  </div>
                </div>
                <div class="card-box card-box-type0">
                  <h4 class="genis-card-title">Temp2</h4>
                  <div class="chartjs-chart">
                    <canvas id="lineChart-2" height="240"></canvas>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-12">
                    <h4 class="header-title mt-0 mb-3">Line Chart</h4>
                    <div class="chartjs-chart">
                      <canvas id="lineChart-2" height="300"></canvas>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12"><% include ./widgets/widget-default %></div>
                </div>
              </div>
            </div>
          </div>
          <!-- container-fluid -->
        </div>
        <!-- content -->
      </div>

      <!-- ============================================================== -->
      <!-- End Page content -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- Vendor js -->
    <script src="assets/js/vendor.min.js"></script>
    <!-- Chart JS -->
    <script src="assets/libs/chart-js/Chart.bundle.min.js"></script>
    <!-- Init js -->
    <script src="assets/js/pages/chartjs.init.js"></script>
    <!-- App js -->
    <script src="assets/js/app.min.js"></script>
    <!-- Modal-Effect -->
    <script src="assets/libs/custombox/custombox.min.js"></script>
  </body>
</html>
