<!DOCTYPE html>
<html lang="en">
  <% include ./head-meta %>

  <body data-layout="horizontal" data-topbar="dark">
    <!-- Begin page -->
    <div id="wrapper">
      <% include ./headers %>
      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->

      <div class="content-page">
        <div class="content">
          <!-- Start Content-->
          <div class="container-fluid">
            here
            <div id="draggable" class="ui-widget-content">
              <p>Drag me around</p>
            </div>
            <div id="draggable2" class="ui-widget-content">
              <p>Drag me around</p>
            </div>
            <button onclick="draw()">click</button>
            <canvas id="myCanvas" width="400" height="400" style="border: 1px solid #d3d3d3"> </canvas>
          </div>
          <!-- container-fluid -->
        </div>
        <!-- content -->
      </div>

      <!-- ============================================================== -->
      <!-- End Page content -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- Vendor js -->
    <script src="assets/js/vendor.min.js"></script>

    <!-- knob plugin -->
    <script src="assets/libs/jquery-knob/jquery.knob.min.js"></script>

    <!--Morris Chart-->
    <!-- <script src="assets/libs/morris-js/morris.min.js"></script> -->
    <script src="assets/libs/raphael/raphael.min.js"></script>

    <!-- Dashboard init js-->
    <!-- <script src="assets/js/pages/dashboard.init.js"></script> -->

    <!-- App js -->
    <script src="assets/js/app.min.js"></script>
    <!-- jquery-ui -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function () {
        $("#draggable").draggable();
        $("#draggable2").draggable();
        
      });
     function draw() {
         var d1 = $("#draggable").position();
        var d2 = $("#draggable2").position();
        console.log(d1);
        console.log(d2);
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.moveTo(d1.left, d1.top);
        ctx.bezierCurveTo(d1.left/2, d2.top, d2.left, d1.left, d2.left, d2.top);
        // ctx.lineTo(d2.left, d2.top);
        ctx.stroke();
     }
      
    </script>
  </body>
</html>
