<!-- Navigation Bar-->
<header id="topnav">
  <!-- Topbar Start -->
  <!-- LOGO -->
  <div class="logo-area">
    <div class="logo-box">
      <a href="/" class="logo">
        <span class="logo-sm">
          <img src="assets/images/logo.png" alt="" height="40" width="160" />
        </span>
      </a>
    </div>
  </div>

  <div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">
      <li class="dropdown notification-list">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle nav-link">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </li>

      <!-- <li class="d-none d-sm-block">
          <form class="app-search">
            <div class="app-search-box">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." />
                <div class="input-group-append">
                  <button class="btn" type="submit">
                    <i class="fe-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </li> -->
      <ul class="navigation-menu">
        <li class="has-submenu">
          <a href="/"><i class="mdi mdi-view-dashboard"></i>icon</a>
        </li>

        <li class="has-submenu">
          <a href="#">
            <i class="mdi mdi-invert-colors"></i>icon
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu megamenu">
            <li>
              <ul>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="has-submenu">
          <a href="#">
            <i class="mdi mdi-lifebuoy"></i>icon
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="#"
                >Forms
                <div class="arrow-down"></div
              ></a>
              <ul class="submenu">
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="#"
                >Tables
                <div class="arrow-down"></div
              ></a>
              <ul class="submenu">
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="has-submenu">
          <a href="#">
            <i class="mdi mdi-chart-donut-variant"></i>icon
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a href="/">menu</a>
            </li>
            <li>
              <a href="/">menu</a>
            </li>
            <li>
              <a href="/">menu</a>
            </li>
          </ul>
        </li>

        <li class="has-submenu">
          <a href="#">
            <i class="mdi mdi-cards-outline"></i>icon
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu megamenu">
            <li>
              <ul>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">Tasmenukboard</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
                <li>
                  <a href="/">menu</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- <li class="has-submenu">
          <a href="#">
            <i class="mdi mdi-card-bulleted-settings-outline"></i>Layouts
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li><a href="layouts-vertical.html">Vertical</a></li>
            <li>
              <a href="layouts-menubar-dark.html">Menubar Dark</a>
            </li>
            <li>
              <a href="layouts-center-menu.html">Center Menu</a>
            </li>
            <li>
              <a href="layouts-menu-drop-dark.html">Menu Drop Dark</a>
            </li>
            <li>
              <a href="layouts-preloader.html">Preloader</a>
            </li>
            <li>
              <a href="layouts-normal-header.html">Unsticky Header</a>
            </li>
            <li>
              <a href="layouts-boxed.html">Boxed</a>
            </li>
          </ul>
        </li> -->
      </ul>
    </ul>
  </div>
  <!-- end Topbar -->
</header>
<!-- End Navigation Bar-->
