<!DOCTYPE html>
<html lang="en">
  <% include ./common/head-meta %>
  <body data-layout="horizontal" data-topbar="dark">
    <!-- Begin page -->
    <div id="wrapper">
      <% include ./common/headers %>
      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->

      <div class="content-page content-bg-color pt-5">
        <div class="content">
          <!-- Start Content-->
          <div class="container-fluid">
            <!-- start page title -->
            <!-- <div class="row">
              <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                  <h4 class="page-title">Dashboard</h4>

                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a href="javascript: void(0);">Adminto</a></li>
                      <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- end page title -->

            <div class="row">
              <div class="col-md-12">
                <% include ./widgets/widget-top-home %>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <% include ./widgets/widget-Diagram %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8"><% include ./widgets/widget-PCS %></div>
                  <div class="col-md-4"><% include ./widgets/widget-PV %></div>
                </div>
                <div class="row">
                  <div class="col-md-4"><% include ./widgets/widget-ESS %></div>
                  <div class="col-md-8">
                    <% include ./widgets/widget-EVCharger %>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12">
                    <% include ./widgets/widget-default %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- container-fluid -->
        </div>
        <!-- content -->
      </div>

      <!-- ============================================================== -->
      <!-- End Page content -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <% include ./common/foot-meta %>
  </body>
</html>
