<div class="float-right">
  <a
    href="#"
    class="dropdown-toggle arrow-none card-drop"
    data-toggle="modal"
    data-target=".bs-example-modal-center"
  >
    <i class="mdi mdi-dots-vertical"></i>
  </a>
  <div
    class="modal fade bs-example-modal-center"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myCenterModalLabel"
    aria-hidden="true"
    style="display: none"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myCenterModalLabel">title</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            ×
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-3 modal-line">
              <h2 class="modal-txt-title text-left">운행모드</h2>
              <h2 class="modal-txt-title text-left">알람</h2>
              <h2 class="modal-txt-title text-left">임계치</h2>
            </div>
            <div class="col-9 pl-3">
              <div class="row">
                <button type="button" class="btn btn-start modal-item">
                  START
                </button>
                <button type="button" class="btn btn-stop modal-item">
                  STOP
                </button>
                <button type="button" class="btn btn-reset modal-item mr-0">
                  RESET
                </button>
              </div>
              <div class="row">
                <button type="button" class="btn btn-on modal-item">ON</button>
                <button type="button" class="btn btn-off modal-item mr-0">
                  OFF
                </button>
              </div>
              <div class="row">
                <div class="col-9 pt-2">
                  <input
                    type="range"
                    id="input-range"
                    value="50"
                    min="0"
                    max="100"
                  />
                  <p class="float-left">0</p>
                  <p class="float-right">100</p>
                </div>

                <div class="col-3">
                  <div class="range-value">50</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">요청</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            취소
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
