<div class="dropdown-menu dropdown-menu-right">
  <!-- item-->
  <a href="/chart" class="dropdown-item">Chart</a>
  <!-- item-->
  <a href="/table" class="dropdown-item">Table</a>
  <!-- item-->
  <a href="javascript:void(0);" class="dropdown-item">Action 3</a>
  <!-- item-->
  <a href="javascript:void(0);" class="dropdown-item">Action 4</a>
</div>
