<head>
  <meta charset="utf-8" />
  <title>GENIS | PMS Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.png" />
  <!-- Custom box css -->
  <link href="assets/libs/custombox/custombox.min.css" rel="stylesheet" />
  <!-- Bootstrap Css -->
  <link
    href="assets/css/bootstrap.min.css"
    id="bootstrap-stylesheet"
    rel="stylesheet"
    type="text/css"
  />
  <!-- Icons Css -->
  <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link
    href="assets/css/app.min.css"
    id="app-stylesheet"
    rel="stylesheet"
    type="text/css"
  />
  <!-- Custom CSS -->
  <link
    href="assets/css/custom.css"
    id="app-stylesheet"
    rel="stylesheet"
    type="text/css"
  />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
