<!-- Navigation Bar-->
<header id="topnav">
  <!-- Topbar Start -->
  <!-- LOGO -->
  <div class="logo-area">
    <div class="logo-box">
      <a href="/" class="logo">
        <span class="logo-sm">
          <img src="assets/images/logo.png" alt="" height="40" width="160" />
        </span>
      </a>
    </div>
  </div>

  <div class="navbar-custom">
    <!-- Navigation Menu-->
    <ul class="navigation-menu">
      <li>
        <div class="dropdown float-left text-center">
          <a href="#" data-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/1_PCS.svg" />
            <h4 class="icon-title">PCS</h4>
          </a>
          <% include ./dropdown-header %>
        </div>
      </li>
      <li>
        <div class="dropdown float-left text-center">
          <a href="#" data-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/2_ESS.svg" />
            <h4 class="icon-title">ESS</h4>
          </a>

          <% include ./dropdown-header %>
        </div>
      </li>
      <li>
        <div class="dropdown float-left text-center">
          <a href="#" data-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/3_PV.svg" />
            <h4 class="icon-title">PV</h4>
          </a>
          <% include ./dropdown-header %>
        </div>
      </li>
      <li>
        <div class="dropdown float-left text-center">
          <a href="#" data-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/4_EV-Charger.svg" />
            <h4 class="icon-title">EV Charger</h4>
          </a>
          <% include ./dropdown-header %>
        </div>
      </li>
      <li>
        <div class="dropdown float-left text-center">
          <a href="#" data-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/5_Temp.svg" />
            <h4 class="icon-title">Temp</h4>
          </a>
          <% include ./dropdown-header %>
        </div>
      </li>
      <li>
        <div class="dropdown float-left text-center">
          <a href="#" data-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/6_Gas.svg" />
            <h4 class="icon-title">GAS</h4>
          </a>
          <% include ./dropdown-header %>
        </div>
      </li>
      <li>
        <div class="dropdown float-left text-center">
          <a href="#" data-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/7_IMD.svg" />
            <h4 class="icon-title">IMD</h4>
          </a>
          <% include ./dropdown-header %>
        </div>
      </li>
      <li>
        <div class="dropdown float-left text-center">
          <a href="#" data-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/icons/8_UPS.svg" />
            <h4 class="icon-title">UPS</h4>
          </a>
          <% include ./dropdown-header %>
        </div>
      </li>
    </ul>
  </div>
  <!-- end Topbar -->
</header>
<!-- End Navigation Bar-->
